@inject UserManager<User> UserManager
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
@{
    var title = @ViewData["Title"].ToString();
}


<section class="p-5">
    <h1>@UserManager.GetUserName(User)</h1>
    <div>
        @if (title != "Delete Personal Data")
        {
            <div class="row">
                <partial name="_ManageNav" />
            </div>
        }
        <hr/>
        <div>
            @RenderBody()
        </div>
    </div>
</section>
@section Scripts {
    @RenderSection("Scripts", required: false)
}