@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="d-flex mb-0 list-unstyled nav-pills flex-row">
    <li class="nav-item"><a class="nav-link @ManageNavPages.MyDecksNavClass(ViewContext)" id="profile" asp-page="./MyDecks">My Decks</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangeFavouritesNavClass(ViewContext)" id="Favourites" asp-page="./Favourites">Favourites</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserSettingsNavClass(ViewContext)" id="UserSettings" asp-page="./UserSettings">User Settings</a></li>
</ul>