@page
@model FavouritesModel
@{
    ViewData["Title"] = "Favourites";
    ViewData["ActivePage"] = ManageNavPages.Favourites;
}

<div class="container-fluid">
    <div class="row">
        @if (Model.UserFavourites.Count() == 0)
        {
            <div class="col-md-12">
                <h1 class="text-center">You have no favourites</h1>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <h1 class="text-center">Your Favourites</h1>
            </div>
            @foreach (var deck in Model.UserFavourites)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="min-height: 150px;">
                        <div class="card-header text-truncate">
                            <h5 class="card-title">@deck.Title</h5>
                        </div>
                        <div class="card-body">
                            <p class="text-truncate">@deck.Description</p>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Subject: @deck.Subject</small>
                            <a asp-controller="Decks" asp-action="Details" asp-route-id="@deck.DeckID" class="btn btn-primary w-100">

                                <i i class="bi bi-view-list">View</i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}