@page
@{
    ViewData["Title"] = "Your Decks";
    ViewData["ActivePage"] = ManageNavPages.MyDecks;
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <p>Your Decks</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}