html {
    font-size: 16px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 72px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}