@model EditCardViewModel
@{
    ViewData["Title"] = "Edit";
}

<section class="p-5">
    <div class="card mt-4">
        <div class="card-header">
            Edit Card
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div class="form-group">
                    <label asp-for="Question" class="control-label"></label>
                    <input asp-for="Question" class="form-control" />
                    <span asp-validation-for="Question" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Answer" class="control-label"></label>
                    <input asp-for="Answer" class="form-control" />
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller="Decks" asp-action="Details" asp-route-id="@Model.DeckID">Back to deck</a>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}