@model IEnumerable<PowerCards.Models.Deck>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-4">Create New</a>
</p>

<div class="row">
    @foreach (var deck in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>@deck.Title</h5>
                    <small class="text-muted">@deck.Subject</small>
                </div>
                <div class="card-body">
                    <p class="mb-2"><span class="fw-bold">Description:</span> @deck.Description</p>
                </div>
            
                    <div>
                        <a asp-action="Details" asp-route-id="@deck.DeckID" class="btn btn-info btn-sm">View</a>
                    </div>

            </div>
        </div>
    }
</div>

