@model IndexDeckViewModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Index";
}

<section class="p-5">
    <div>
        <h1 class="text-center">DECKS</h1>
        <a asp-action="Create" class="btn btn-primary mb-4">Create New Deck</a>
    </div>
    <div class="row" style="--bs-gutter-x: 32px;">
        @if (Model.Decks.Any())
        {
            @foreach (var deck in Model.Decks)
            {
                <div class="col-md-4 p-3">
                    <div class="card mb-4 carddeck">
                        <div class="card-header bg-dark text-white">
                            <h5>@deck.Title</h5>
                            <small class="text-muted">@deck.Subject</small>
                        </div>
                        <div class="card-body">
                            <p class="mb-2 text-truncate w-100"><span class="fw-bold">Description:</span> @deck.Description</p>
                        </div>
                        <div class="d-flex justify-content-between m-3">
                            <a asp-action="Details" asp-route-id="@deck.DeckID" class="btn btn-outline-secondary">View</a>
                            <p class="text-muted mb-0 d-flex flex-column justify-content-center">By: @@@deck.UserName</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No decks found.</p>
        }
    </div>
</section>